<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps</title>
</head>
<body>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">
        KUY'S RESTAURANT
      </h1>
    </div>
  </header>
  <a id="hamburger" href="#">☰</a>
  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/inndyis">About Us</a></li>
    </ul>
  </nav>

  <div class="hero">
      <img class="henpm ro-image" src="./images/heros/hero-image_2.jpg" alt="">
  </div>

  <h1>Explore Restaurant</h1>
  <main>
    <section class="content">
      <div class="posts">
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/41"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 4.6</p>
          <p>Kota Medan</p>
          <p class="post-item__title">Bring Your Phone Cafe </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/07"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 4.6</p>
          <p>Kota Bali</p>
          <p class="post-item__title">Run The Gun </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/29"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 4.8</p>
          <p>Kota Ternate</p>
          <p class="post-item__title">Pangsit Express </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/38"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 4.7</p>
          <p>Kota Malang</p>
          <p class="post-item__title">Ducky Duck </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/40"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 3.8</p>
          <p>Kota Bali</p>
          <p class="post-item__title">Kafein </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/08"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 4.6</p>
          <p>Kota Malang</p>
          <p class="post-item__title">Makan mudah </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/32"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 3.6</p>
          <p>Kota Surabaya</p>
          <p class="post-item__title">Saya Suka</p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/45"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 4</p>
          <p>Kota Aceh</p>
          <p class="post-item__title">Gigitan Cepat</p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="post-item">
        <img class="post-item__thumbnail"
             src="https://restaurant-api.dicoding.dev/images/medium/04"
             alt="">
        <div class="post-item__content">
          <p class="post-item_rating">Rating: 3.9</p>
          <p>Kota Malang</p>
          <p class="post-item__title"> Fairy Cafe </p>
          <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      </div>
      <footer>
        <h3>Copyright © 2023 - Kuys Restaurant</h3>
      </footer>
    </section>
  </main>
</body>

</html>
